@font-face {
    font-family: 'OF';
    src: url('../../../static/fonts/Light.woff2') format('woff2'),
        url('../../../static/fonts/Light.woff') format('font-woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OF';
    src: url('../../../static/fonts/Regular.woff2') format('woff2'),
        url('../../../static/fonts/Regular.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OF';
    src: url('../../../static/fonts/Bold.woff2') format('woff2'),
        url('../../../static/fonts/Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Compete';
    src: url('../../../static/fonts/CompeteMedium.woff2') format('woff2'),
        url('../../../static/fonts/CompeteMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compete';
    src: url('../../../static/fonts/CompeteSemibold.woff2') format('woff2'),
        url('../../../static/fonts/CompeteSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compete';
    src: url('../../../static/fonts/CompeteBold.woff2') format('woff2'),
        url('../../../static/fonts/CompeteBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compete';
    src: url('../../../static/fonts/CompeteExtraLight.woff2') format('woff2'),
        url('../../../static/fonts/CompeteExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compete';
    src: url('../../../static/fonts/CompeteRegular.woff2') format('woff2'),
        url('../../../static/fonts/CompeteRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compete';
    src: url('../../../static/fonts/CompeteLight.woff2') format('woff2'),
        url('../../../static/fonts/CompeteLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

