.phone-container {
   
    margin: 5%;
    
    flex-shrink: 0;

    .screen_container {
        display: block;
        height: 2000px;
        background: grey;
        position: relative;
        width: 375px;
        height: 812px;
        overflow-x: hidden; 
        overflow-y: hidden;
    }

    .screen_top {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 90px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;
    }

    .screen_bottom {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 95px;
        z-index: 2;
        background: black;
    }

    .screen_name {
        font-size: 13px;
        margin: 0 0 15px 0;
        font-weight: 300;
        opacity: 0.3;
    }

    .screen_scollbale {
        display: block;
        background: black;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 95px;
        height: 100%;
        // padding-top: 100px;

        .test {
            display: block;
            height: 3000px;
        }

        .profile_top {
            min-height: 530px;
            padding-top: 62px;

            &.fixed {
                position: absolute;
                left: 0;
                right: 0; 
            }
        }
    }
}

.name {
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0 0 0;
    position: relative;
    // top: 4px;
    text-align: center;
}

.dots {
    position: relative;
    top: -5px;
}

.avatar {
    width: 110px;
    height: 110px;
    margin: 25px auto 20px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    
  
    img {
      max-width: 100%
    }
}

.username {
    font-weight: 550;
    font-size: 13px;
    display: flex;
    justify-content: center;

    .tick_container {
        width: 13px;
        height: 13px;
        background: #0AD7ED;
        position: relative;
        display: inline-block;
        border-radius: 20px;
        top: 2px;
        margin: 0 0 0 6px;

        .svg-wrapper {
            position: absolute;
            top: 2.5px; left:3px;
        }
    }
}

.stats {
    width: 240px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto 20px auto;

    .stats_value {
        font-size: 18px;
        font-weight: 500;
    }

    .stats_label {
        font-size: 8px;
        font-weight: 400;
        letter-spacing: 0.8px;
        opacity: 0.5;
        margin: 2px 0 0 0;
    }
}

.actions_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_group {
    width: 200px;
    display: flex;
    justify-content: flex-end;;
}

.btn_round {
    width: 41px;
    height: 41px;
    background: rgba(white, 0.1);
    border-radius: 50px;
    position: relative;
    margin: 0 5px;

    .svg-wrapper {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.btn_challenge {
    display: none;
    height: 41px;
    flex-grow: 1;
    background: #491CFF;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 0;
    position: relative;
    transition: all 0.15s;

    .btn_label {
        position: relative;
        top: -3px;
        font-size: 13px;
        transition: all 0.15s;
    }
}

.following_icon {
    display: block;
    position: absolute;
    right: 10px;
    scale: 0;
    opacity: 0;
    transition: all 0.15s;
}

.btn_follow {
    height: 41px;
    width: 100%;
    background: rgba(white, 1);
    border-radius: 50px;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 0;
    position: relative;
    transition: all 0.15s;

    .btn_label {
        position: relative;
        top: -3px;
        font-size: 13px;
        transition: all 0.15s;
    }
}

.following {
    .btn_challenge {
        display: flex;
        opacity: 1;
        scale: 1
    }

    .btn_follow {
        background: rgba(white, 0.1);
        width: 41px;
        margin: 0 5px 0 5px;
    }

    .follow_label {
        opacity: 0;
    }

    .following_icon {
        scale: 1;
        opacity: 1;
    }
}
