.phone-container {
   
    margin: 5%;
    
    flex-shrink: 0;

    .screen_container {
        display: block;
        height: 2000px;
        background: grey;
        position: relative;
        width: 375px;
        height: 812px;
        overflow-x: hidden; 
        overflow-y: hidden;
    }

    .screen_top {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 90px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;
    }

    .screen_bottom {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 95px;
        z-index: 2;
        background: black;
    }

    .screen_name {
        font-size: 13px;
        margin: 0 0 15px 0;
        font-weight: 300;
        opacity: 0.3;
    }

    .screen_scollbale {
        display: block;
        background: black;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 95px;
        height: 100%;
        // padding-top: 100px;

        .test {
            display: block;
            height: 3000px;
        }

        .profile_top {
            min-height: 530px;

            &.fixed {
                position: absolute;
                left: 0;
                right: 0; 
            }
        }
    }
}