$blue: #491CFF;

.phone-container {
   
    margin: 5%;
    
    flex-shrink: 0;
    @media only screen and (max-width: $mobile) {
        margin: 0%;
        width: 100%;
    }

    .screen_container {
        display: block;
        height: 2000px;
        background: grey;
        position: relative;
        width: 375px;
        height: 812px;
        overflow-x: hidden; 
        overflow-y: hidden;

        @media only screen and (max-width: $mobile) {
            top:-45px;
            height: 680px;
            width: 100%;
        }
    }

    .screen_top {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 90px;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;
    }

    .screen_bottom {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 95px;
        z-index: 20000;
        background: black;
        justify-content: space-between;
        padding: 22px 40px;

        @media only screen and (max-width: $mobile) {
            display: none;
        }

        .iphone_bar {
            width: 138px;
            height: 6px;
            background: white;
            border-radius: 30px;
            bottom: 15px;
            left: 50%;
            margin-left: -69px;
            position: absolute;
        }
    }

    .screen_name {
        font-size: 13px;
        margin: 0 0 15px 0;
        font-weight: 300;
        opacity: 0.3;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
      
    }

    .screen_scollbale {
        display: block;
        background: black;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 95px;
        height: 100%;
        // padding-top: 100px;

        .test {
            display: block;
            height: 3000px;
        }

        .profile_top {
            padding-top: 62px;

            &.fixed {
                position: absolute;
                left: 0;
                right: 0; 
                z-index: 2;
            }
        }
    }
}

.tick_container {
    width: 13px;
    height: 13px;
    background: #0AD7ED;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    top: 2px;
    margin: 0 0 0 6px;

    .svg-wrapper {
        position: absolute;
        top: 2.5px; left:3px;
    }
}

.small_user_info {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in-out;
    position: relative;
    top: 30px;
    opacity: 0;
    transform: scale(0.9);

    .small_avatar {
        width: 25px;
        height: 25px;
        overflow: hidden;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 5px;

        img {
            max-width: 100%;
        }
    }

    .small_username {
        font-size: 13px;
        font-weight: 550;
        margin: 0 0 0 7px;
        position: relative;
        top: 3px;
    }

    .tick_container {
        top: 3px;
    }

    &.visible {
        top: 0;
        opacity: 1;
        transform: scale(1.0);
    }
}

.name {
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0 0 0;
    position: relative;
    // top: 4px;
    text-align: center;
}

.dots {
    position: relative;
    top: -5px;
}

.avatar {
    width: 110px;
    height: 110px;
    margin: 25px auto 20px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    
  
    img {
      max-width: 100%
    }
}



.username {
    font-weight: 550;
    font-size: 13px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $mobile) {
        .tick_container {
            .svg-wrapper {
                left: 2px
            }
        }
    }

    
}

.stats {
    width: 240px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto 25px auto;

    .stats_value {
        font-size: 18px;
        font-weight: 500;
    }

    .stats_label {
        font-size: 8px;
        font-weight: 300;
        letter-spacing: 0.8px;
        opacity: 0.5;
        margin: 2px 0 0 0;
    }
}

.actions_container {
    display: flex;
    justify-content: center;
    width: 100%;
    user-select: none;
    margin-bottom: 20px;
}

.main_group {
    width: 200px;
    display: flex;
    justify-content: flex-end;;
}

.btn_round {
    width: 41px;
    height: 41px;
    background: rgba(white, 0.1);
    border-radius: 50px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;

    .svg-wrapper {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.btn_challenge {
    display: none;
    height: 41px;
    flex-grow: 1;
    background: $blue;
    border-radius: 50px;
    color: #fff;
    font-weight: 550;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 0;
    position: relative;
    transition: all 0.15s;
    cursor: pointer;
    opacity: 0;

    .btn_label {
        position: relative;
        top: -3px;
        font-size: 13px;
        transition: all 0.15s;

        @media only screen and (max-width: $mobile) {
            top: -1px;
        }
    }
}

.following_icon {
    display: block;
    position: absolute;
    right: 9px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.15s;
    top: 11px;
}

.btn_follow {
    height: 41px;
    width: 100%;
    background: rgba(white, 1);
    border-radius: 50px;
    color: #000;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 0;
    position: relative;
    transition: all 0.15s;
    cursor: pointer;

    .btn_label {
        position: relative;
        top: -3px;
        font-size: 13px;
        transition: all 0.15s;

        @media only screen and (max-width: $mobile) {
            top: -1px;
        }
    }
}

.following {
    .btn_challenge {
        display: flex;
        opacity: 1;
        scale: 1
    }

    .btn_follow {
        background: rgba(white, 0.1);
        width: 41px;
        margin: 0 5px 0 5px;
    }

    .follow_label {
        opacity: 0;
    }

    .following_icon {
        transform: scale(1);
        opacity: 1;
    }
}

.profile_bio {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 0 20px 0 20px;
}

.profile_link {
    font-size: 12px;
    font-weight: 550;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 0 20px 0 20px;
}

.tab_container {
    width: 100%;
    margin: 25px 0 0 0;
    border-top: 1px solid  rgba(white, 0.1);
    display: flex;
    
    .tab {
        height: 50px;
        font-size: 14px;
        font-weight: 200;
        border-bottom: 1px solid transparent;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;

        .tab_label {
            position: relative;
            top: -2px;
            opacity: 0.5;
        }

        &.active {
            font-weight: 500;
            border-bottom: 1px solid white;

            .tab_label {
                opacity: 1;
            }
        }
    }
}

.img_grid {
    display: block;
    position: relative;
    z-index: 1;
    // width: calc(100% + "10px");
    margin: 1px 0 0 0;
  
    .img_wrapper {
      width: calc(100% /  3);;
      display: inline-block;
      overflow: hidden;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      position: relative;
    //   background-size: 100% 100%;
    //   background-size: cover;
    //   background-position: 0px 0px;
    //   background-repeat: no-repeat;
      height: 180px;
  
  
    img {
        width: 100%;
        height: 100%;
    }
    
    .img_label {
            background: black;
            color: white;
            font-size: 8px;
            font-weight: 550;
            padding: 4px 10px;
            border-radius: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
            letter-spacing: 0.4px;
    
            &.active_label {
                background: #40DC9D
            }

            &.winner_label {
                background: #FFB467
            }
        }
    }

    .laurel_wrapper {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 34px;
        height: 34px;

        .laurel_icon {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0.5;
        }

        .laurel_number {
            position: absolute;
            top: 8px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 2;
            font-weight: 600;
            text-shadow: 0 1px 6px rgba(0,0,0,0.70);
            font-size: 13px;
        }
    }
  }

  .comp_wrapper {
      display: flex;
      border-bottom: 1px solid rgba(white, 0.07);

      .comp_image_wrapper {
          width: 90px;
          flex-grow: 0;
          flex-shrink: 0;
          img {
            height: 108px;
            width: 90px;
          }
      }

      .comp_details {
            padding: 18px 20px 0 20px;
            position: relative;
            flex-grow: 1;

            .comp_firstLine {
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 2px 0;

                .comp_active_label {
                    background: #40DC9D;
                    color: white;
                    font-size: 8px;
                    font-weight: 550;
                    padding: 3px 8px;
                    border-radius: 20px;
                    letter-spacing: 0.4px;
                    margin: 0 0 0 7px ;
                    position: relative;
                    top: -2px;
                }
            }

            .comp_secondLine {
                font-size: 11px;
                font-weight: 300;
                opacity: 0.5;
                margin: 0 0 12px 0;
            }
    
            .scores_conatainer {
                display: flex;
        
                .single_score {
                    width: 100px;
                    position: relative;

                    .score_laurel_wrapper {
                        width: 30px;
                        height: 30px;
                        position: relative;

                        .score_laurel {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            opacity: 0.5;
                        }

                        .score_rank {
                            position: absolute;
                            width: 30px;
                            text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            top: 7px;
                        }
                        
                        .rank_dashes {
                            position: relative;
                            top: -1px;
                            opacity: 0.5;
                        }

                        &.winner {
                            .score_laurel {
                                opacity: 1;

                                path {
                                    fill: #F29E4A
                                }
                            }

                            .score_rank {
                               color: #F29E4A 
                            }
                        }

                    }
                    
                    .score_description {
                        display: block;
                        position: absolute;
                        top: 7px;
                        left: 37px;
                        font-size: 11px;
                        font-weight: 300;
                        white-space: nowrap;
                    }
                }
            }

            .comp_caret {
                position: absolute;
                right: 15px;
                top: 45px;
            }
      }
  }

.challenge_bg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(black, 0.7);
    transition: all 0.5s;
    opacity: 0;
    animation: fadeIn forwards 0.5s;
}

.challenge_drawer {
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 550px;
    background: #0F0F0F;
    border-radius: 20px;
    z-index: 20001;
    transform: translateY(500px);
    animation: slideIn forwards 0.2s cubic-bezier(.19,1,.22,1);

    .challenge_title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px 0 17px 0;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.57;
    }

    .search_wrapper {
        background: #191919;
        margin: 0 20px 20px 20px;
        border-radius: 30px;
        position: relative;
        height: 38px;

        .search_icon {
            position: absolute;
            top: 10px;
            left: 15px;
            opacity: 0.5;
        }

        .search_text {
            position: absolute;
            top: 11px;
            left: 42px;
            opacity: 0.5;
            font-size: 12px;
        }
    }

    .comp_section {
        position: absolute;
        top: 100px;
        left: 0;
        right:0;
        bottom: 90px;
        overflow-y: auto;

        .comp_section_title {
            margin: 10px 0 15px 20px;
            font-size: 9px;
            letter-spacing: 0.4px;
            font-weight: 300;
            opacity: 0.5;
        }

        .challenge_comp_wrapper {
            .single_challenge_comp {
                padding: 0 20px 20px 20px;
                display: flex;
                position: relative;
                cursor: pointer;

                .challenge_comp_img {
                    flex-grow: 0;
                    flex-shrink: 0;
                    width: 42px;
                    height: 52px;
                    overflow: hidden;
                    border-radius: 3px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .challenge_comp_details {
                    flex-grow: 1;
                    padding: 8px 0 0 15px;

                    .challenge_firstLine {
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0 0 3px 0;
                    }
                    .challenge_secondLine {
                        font-size: 11px;
                        font-weight: 300;
                        opacity: 0.5;
                    }
                }
                
                .challenge_comp_tick_container {
                    position: absolute;
                    top: 10px;
                    right: 20px;

                    .challenge_comp_tick {
                        width: 28px;
                        height: 28px;
                        border-radius: 30px;
                        border: 1px solid rgba(white, 0.1);
                        position: relative;

                        .svg-wrapper {
                            display: none;
                        }

                        &.checked {
                            background: $blue;

                            .svg-wrapper {
                                display: block;
                                position: absolute;
                                top: 7.5px;
                                left: 7px;
                            }
                        }
                    }
                }
            }
        }
    }


    .chalenge_button_wrapper  {
        position: absolute;
        height: 100px;
        background: #0F0F0F;
        border-top: 1px solid rgba(white, 0.07);
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;

        .challenge_send {
            width: 330px;
            height: 44px;
            background: $blue;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 17px 0 0 0;
            transition: all 0.15s;

            .btn_label {
                font-size: 13px;
                font-weight: 600;
                color: #fff;
                position: relative;
                top: -1px;
            }

            &.inactive {
                opacity: 0.3;
            }
        }

    }
}

.notification_contatiner {
    height: 46px;
    width: 100%;
    bottom: 95px;
    background: $blue;
    z-index: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(50px);
    animation: hideNotification forwards 0.2s cubic-bezier(.19,1,.22,1);

    @media only screen and (max-width: $mobile) {
       bottom: 0;
    }

    &.visible {
        animation: showNotification forwards 0.2s cubic-bezier(.19,1,.22,1); 
    }

    .notification_label {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        font-weight: 550;
        font-size: 11px;

    }
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateY(500px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes showNotification {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes hideNotification {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
    }
}

