.hidden-component {
  opacity: 0;
}

.of-grid-navigation {
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 2;
  width: 200px;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 10;

  ul.main-links {
    li.main-link-container {
      font-size: 30px;
      padding: 15px 0 15px 40px;
      position: relative;
      left: -40px;
      font-weight: 300;
      letter-spacing: 1.3px;
      transition: all 1s;
      position: relative;

      &:before {
        content: "";
        width: 0;
        left: 0px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 34px;
        transition: all 0.2s;
      }
    }

    &.active {
      li.main-link-container {
        opacity: 0.3;

        &.main-link-active {
          opacity: 1;

          &:before {
            width: 25px;
          }
        }
      }
    }

    &:hover {
      li.main-link-container {
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


.of-grid-content-layer {
  position: relative;
  z-index: 10;
}

.of-grid-content {
  z-index: 3;

  @media only screen and (max-width: $mobile) {
    margin-left: 0;
    width: calc(100% - 10px);
  }
}

.route-container {}
